.cache
# npm ci will work faster if we exclude this
node_modules
build

# docker stuff
.dockerignore
Dockerfile

# readmes probably not needed
README.md
REACT_README.md

# git cache stuff
.github/
.git

# cicd
circleci/
