.App {
  text-align: center;
  background-color: #212529;
  color: silver;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  display: center;
}

.card {
  background-color: #393c40;
}

.card-footer {
  background-color: rgba(230, 230, 230, 0.03);
  border-top: 1px solid rgba(130, 130, 130, 0.13);
}

.img-fluid {
  padding-top: 10px;
  padding-left: 10px;
  max-width: 95%;
}

body {
  text-align: center;
  background-color: #212529;
  color: silver;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 520px) {
  .img-fluid {
    padding: 0px;
    max-width: 59%;
  }

  .card-text {
    font-size: small;
  }

  .card-body {
    padding-right: 0px;
    padding-left: 0px;
  }
}
