.App {
  text-align: center;
  background-color: #212529;
  color: silver;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  display: center;
}

.img-fluid.rounded-circle {
  height: 185px;
  padding-bottom: 12px;
}

.blurb {
  padding: 5px;
}

body {
  text-align: center;
  background-color: #212529;
  color: silver;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  display: center;
}
