.App {
  text-align: center;
  background-color: #212529;
  color: silver;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  display: center;
}

.img-fluid.rounded-circle {
  height: 180px;
  padding-bottom: 11px;
}

.blurb {
  padding: 4px;
}

body {
  text-align: center;
  background-color: #212529;
  color: silver;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  display: center;
}
